html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $color-header-footer;
}

.wrapper {
  flex: 1 0 auto;
}

.fa-circle {
  font-size: 1em;
  color: $color-brand;
}

img {
  width: 100%;
  height: 100%;
}

.message {
  color: $color-white;
  padding: 15px;
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
}

.message.error {
  background-color: $color-error;
}

.message.success {
  background-color: $color-sucess;
}

.loader {
  border: 16px solid $color-brand;
  border-top: 16px solid $color-input-fields;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  animation: spin 8s linear infinite;
  margin: 70px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.where-am-i-container {
  margin: 20px 0px 20px 0px;
}

.where-am-i-container li,
.fa-chevron-right {
  display: inline;
  padding-left: 10px;
}

.where-am-i-now {
  text-decoration: underline;
}
