body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: $font-primary;
  background-color: $color-background;
}

h1,
h2 {
  font-family: $font-heading;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

.fa-circle {
  font-size: 1em;
  color: $color-brand;
}

img {
  width: 100%;
}
