.btn,
.cta {
  height: 60px;
  width: 100%;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  color: $color-white;
  box-shadow: 4px 4px 4px $color-input-fields;

  &.orange {
    background-color: $color-brand;
    border: $color-brand 1px solid;

    &:hover {
      background-color: $color-white;
    }
  }

  &.login-add,
  &.add-to-cart {
    background-color: $color-sucess;
    border: $color-sucess 1px solid;

    &:hover {
      background-color: $color-white;
      color: $color-sucess;
    }
  }

  &.delete {
    background-color: $color-error;
    border: $color-error 1px solid;

    &:hover {
      background-color: $color-white;
      color: $color-error;
    }
  }
}
