.cart-container {
  background-color: $color-white;
  padding: 20px;
  margin: 50px 20px;

  @media (min-width: $tablet-min-width) {
    max-width: 600px;
    margin: 60px auto;
  }

  .no-products-content {
    text-align: center;
    padding: 30px 0px 80px 0px;
  }

  .cart-content {
    display: flex;
    justify-content: space-between;
    height: 120px;
    border-top: 1px solid $color-input-fields;
  }

  .cart-content-container {
    display: flex;
    align-items: center;
  }

  .cart-total-container {
    display: flex;
    height: 120px;
    align-items: center;
    border-top: 1px solid $color-input-fields;
    justify-content: flex-end;
  }

  .fa-times:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  p {
    margin: 0px 10px 0px 0px;
    font-size: 0.8em;

    @media (min-width: $tablet-min-width) {
      font-size: 1em;
    }
  }

  a {
    text-decoration: underline;
    font-size: 0.8em;

    @media (min-width: $tablet-min-width) {
      font-size: 1em;
    }
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;

    @media (min-width: $tablet-min-width) {
      width: 100px;
      height: 100px;
    }
  }
}
