footer {
  margin-top: 40px;
  padding: 30px;
  background-color: $color-header-footer;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  a {
    color: $color-white;
    padding-bottom: 10px;
  }

  .footer-contact a {
    display: block;
    text-decoration: underline;
  }

  .fa-facebook-f,
  .fa-instagram,
  .fa-snapchat-ghost {
    font-size: 1.7em;
    margin-right: 20px;
  }
}
