.login-form,
.add-edit-delete-form {
  margin: 50px 20px;
  background-color: $color-white;
  padding: 30px 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 6px 6px 6px $color-input-fields;

  @media (min-width: $tablet-min-width) {
    padding: 40px 50px 70px 50px;
    max-width: 400px;
    margin: 70px auto;
  }

  input,
  textarea {
    height: 45px;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    background-color: $color-input-fields;
    border: none;
    margin-bottom: 30px;

    @media (min-width: $tablet-min-width) {
      height: 60px;
      font-size: 1.2em;
    }
  }

  // .form-image-upload-container {
  //   margin: 10px;
  // }

  .upload-image {
    background-color: $color-white;
  }

  input::-webkit-file-upload-button {
    height: 45px;
    border-radius: 5px;
    border: 1px solid $color-header-footer;
    cursor: pointer;
    margin: 10px 10px 15px 0px;
    box-shadow: 4px 4px 4px $color-input-fields;
  }

  .btn {
    @media (max-width: $mobile-width) {
      height: 45px;
    }
  }
}

.search {
  height: 60px;
  width: 100%;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: $color-input-fields;
  border: none;
  margin-bottom: 40px;
}

.form-error {
  color: red;
  display: none;
}
