.menu {
  background-color: $color-header-footer;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $color-white;
    text-transform: uppercase;
  }

  a.active {
    background-color: $color-brand;
  }

  .logo {
    font-family: $font-heading;
    font-size: 1.1em;
  }

  .fa-circle {
    font-size: 0.5em;
  }

  li a {
    padding: 3px;
    font-size: 0.9em;
  }

  ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
  }

  li {
    margin: 5px;
  }

  li a:hover {
    background: lighten($color-brand, 5%);
  }

  .fa-shopping-bag {
    position: relative;
  }

  .cart-count {
    background-color: $color-brand;
    border-radius: 100%;
    padding: 1px 5px;
    font-size: 0.9em;
    position: absolute;
    top: -7px;
  }

  @media (min-width: $tablet-min-width) {
    padding: 10px 30px;

    .logo {
      font-size: 2.1em;
    }

    .fa-circle {
      font-size: 1em;
    }

    li a {
      padding: 10px;
      font-size: 1.2em;
    }

    li {
      margin: 15px;
    }
  }
}
