.menu {
  background-color: $color-header-footer;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    font-family: $font-heading;
    font-size: 2.3em;
  }

  li a {
    padding: 10px;
    font-size: 1.2em;
  }

  ul {
    list-style: none;
    display: flex;
  }

  li {
    margin: 15px;
  }

  li a:hover {
    background: lighten($color-brand, 5%);
  }
}
