.home-all-sneakers,
.home-about {
  background-color: $color-white;
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 6px 6px 6px $color-input-fields;
  border-top: 2px solid $color-brand;
  border-radius: 2px;

  span {
    color: $color-brand;
    font-weight: bold;
    font-size: 1.4em;
  }

  p {
    font-size: 1.3em;
  }

  button {
    background-color: $color-brand;
    color: $color-white;
    box-shadow: 4px 4px 4px $color-input-fields;
    border: 1px solid $color-brand;
    padding: 10px 40px;
    font-size: 1.1em;
    border-radius: 5px;
    text-transform: uppercase;

    &:hover {
      background-color: $color-white;
      color: $color-brand;
      cursor: pointer;
    }
  }

  @media (min-width: $computer-min-width) {
    max-width: 800px;
    margin: 70px auto;
    display: flex;

    .home-all-sneakers-text {
      flex-basis: 140%;
      margin-left: 20px;
    }

    .home-about-text {
      flex-basis: 207%;
      margin-left: 20px;
    }
  }
}
