.detail-container {
  @extend .flex-container;
  gap: 3rem;
  margin: 100px 30px 30px 30px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 6px 6px 6px $color-input-fields;

  .details-information {
    max-width: 500px;
  }

  p {
    font-size: 0.5em;
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  @media (min-width: $tablet-min-width) {
    img {
      width: 500px;
      height: 500px;
    }
  }
}
